services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    ports:
      - "{{ nodered_service_port }}:443"
    volumes:
      - {{ nodered_traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ nodered_traefik_config_dir }}/dynamic:/etc/traefik/dynamic:ro
      - {{ nodered_service_config_dir }}/certs:/certs:ro

  nodered:
    image: nodered/node-red:{{ nodered_service_version }}
    container_name: nodered
    volumes:
      - nodered-data:/data
    restart: unless-stopped
    environment:
      - TZ=Europe/London

  backup-toolkit:
    container_name: backup-toolkit
    image: backup-toolkit:local
    command: sleep infinity
    restart: unless-stopped
    volumes:
      - nodered-data:{{ nodered_backup_from }}
    env_file:
      - ./backup-toolkit.env

volumes:
  nodered-data:
